/* General elements */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=latin-ext');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Menu */

.navigation-wrapper {
    width: 100%;
    height: 785px;
    margin: 0;
    background-image: url(../assets/images/backgrounds/background.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: scroll;
}

.navigation-wrapper .container:not(.title-wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px
}

.brand {
    width: auto;
    height: 60px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    width: auto;
    padding: 0;
    margin: 0 25px;
    font: normal 14px/17px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.menu-item:hover {
    color: #18ba00;
}

.title-wrapper .site-title {
    font: normal 300 70px/84px 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin: 100px 0 0 0;
}

.site-owners {
    font: normal 300 15px/18px 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 9px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 30px 0;
}

.links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta-link {
    width: 180px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background-color: #17ba00;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin: 0 20px;
    transition: all .3s ease-in-out;
}

.oferta-link:hover {
    cursor: pointer;
    background: none;
    color: #17ba00;
    border: 1px solid #17ba00;
    transition: all .3s ease-in-out;
}

.onas-link {
    width: 180px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    transition: all .3s ease;
}

.onas-link:hover {
    color: #17ba00;
    border-color: #17ba00;
    transition: all .3s ease;
}


/* about us section */

.onas-wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0;
}

.onas-wrapper .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font: normal 300 52px/62px 'Roboto', sans-serif;
    color: #18ba00;
    margin: 80px 0 20px;
}

.onas-wrapper .stripe {
    width: 100px;
    height: 2px;
    background-color: #17ba00;
    margin: 30px auto;
}

.owners-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 80px 0;
}

.owner {
    width: 48%;
    height: 360px;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.owner-image {
    width: 150px;
    height: auto;
    margin: 20px 10px;
}

.about-owner {
    padding: 40px 25px;
}

.about-owner h4 {
    color: #17ba00;
    font: normal 300 20px/25px 'Roboto', sans-serif;
    margin: 0;
}

.about-owner small {
    font: normal 300 12px/1.5 'Roboto', sans-serif;
}

.about-owner p {
    font: normal 300 15px/1.5 'Roboto', sans-serif;
}


/* Icons section */

.offer-wrapper {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.offer-wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.offer-icon .icon-image {
    width: 45px;
    height: 40px;
    margin: 10px auto 40px;
}

.offer-icon figcaption {
    font: normal 300 26px/31px 'Roboto', sans-serif;
}


/* Offer items */

.offer-items-wrapper {
    width: 100%;
    height: auto;
}

.offer-items-wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.offer-item-description {
    width: 50%;
    margin: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #fff;
}

.offer-item-name {
    font: normal 300 52px/62px 'Roboto', sans-serif;
    color: #17ba00;
    margin: 0 0 30px 0;
}

.offer-item-description .stripe {
    width: 60px;
    height: 2px;
    background-color: #17ba00;
    margin: 0 0 30px;
}

.offer-item-about {
    font: normal 300 15px/29px 'Roboto', sans-serif;
    color: #6d6e71;
    margin: 20px 0;
}

.offer-item-button {
    width: 140px;
    height: 40px;
    margin: 0 15px 0 0;
    border: 2px solid #17ba00;
    border-radius: 20px;
    background-color: #17ba00;
    color: #fff;
    transition: all .6s ease;
}

.offer-item-button:hover {
    background: none;
    color: #17ba00;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    transition: all .6s ease;
}

.offer-item-button-o {
    width: 140px;
    height: 40px;
    border: 1px solid #404041;
    border-radius: 20px;
    background: none;
    color: #404041;
    transition: all .6s ease;
}

.offer-item-button-o:hover {
    color: #18ba00;
    border-color: #18ba00;
    cursor: pointer;
    transition: all .6s ease;
}

.offer-item-image {
    width: 50%;
    height: 450px;
    margin: 0;
    background-size: cover;
    background-position: center;
}

#psycholog .offer-item-image {
    background-image: url(../assets/images/backgrounds/psychologia.jpg);
}

#biofeedback .offer-item-image {
    background-image: url(../assets/images/backgrounds/umysł.jpg);
}

#bowen .offer-item-image {
    background-image: url(../assets/images/backgrounds/technikaBowena.jpg);
}


/* Trainings */

.trainings-wrapper {
    background-image: url(../assets/images/backgrounds/trainings.jpg);
    background-size: cover;
}

.trainings-wrapper .white-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 0 50px 0;
}

.trainings-wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.trainings-title {
    font: normal 300 52px/62px 'Roboto', sans-serif;
    color: #17ba00;
    margin: 0 0 15px;
}

.trainings-wrapper .stripe {
    width: 60px;
    height: 1px;
    background-color: #17ba00;
    margin: 0 0 15px;
}

.about-trainings {
    width: 100%;
    height: 250px;
    font: normal 300 15px/29px 'Roboto', sans-serif;
    color: #404041;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px;
    margin: 20px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

.about-trainings ul {
    margin: 30px 20px;
    padding: 0;
}

.trainings-description {
    font: normal 300 26px/38px 'Roboto', sans-serif;
    color: #18ba00;
    margin: 20px 0;
}


/* Pricings */

.pricing-wrapper {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.pricing-wrapper .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pricing-wrapper .section-title {
    font: normal 300 52px/62px 'Roboto', sans-serif;
    margin: 0;
}

.pricing-wrapper .stripe {
    width: 60px;
    height: 2px;
    background-color: #17ba00;
    margin: 20px 0 30px;
}

.pricing-wrapper .section-description {
    font: normal 300 26px/31px 'Roboto', sans-serif;
    color: #404041;
    margin: 0 0 10px;
}

.offers-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.offer-pricing {
    width: 380px;
    height: 340px;
    border: 1px solid #404041;
    margin: 0 30px 0 0;
}

.offer-pricing h5 {
    font: normal bold 15px/29px 'Roboto', sans-serif;
    color: #17ba00;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 20px 0;
}

.offers-pricing table {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
    color: #404041;
    font-size: 15px;
    line-height: 29px;
}

.offer-pricing td {
    padding: 10px 0;
}

.offers-pricing td:nth-child(odd) {
    width: 70%;
}

.offer-pricing td:nth-child(even) {
    width: 30%;
    font-weight: bold;
    text-align: right;
}

.trainings-pricing {
    font: normal 300 26px/38px 'Roboto', sans-serif;
    color: #17ba00;
    margin: 60px 0;
}


/* Feedbacks */

.feedbacks-wrapper {
    width: 100%;
    height: auto;
    background: url(../assets/images/backgrounds/feedbacks.jpg) no-repeat center;
    background-size: cover;
}

.feedbacks-wrapper .white-overlay {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background: rgba(255, 255, 255, 0.8);
}

.feedbacks-wrapper .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.feedbacks {
    width: 75%;
    height: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.feedback {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.feedback .author {
    color: #18ba00;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
}

.feedback .excerpt {
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
}

.feedback .read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    color: #404041;
    border: 1px solid #404041;
    border-radius: 20px;
    transition: all .3s ease;
}

.feedback .read-more:hover {
    color: #18ba00;
    border-color: #18ba00;
    transition: all .3s ease;
}

.feedbacks-wrapper .controls {
    width: 75%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.feedbacks-wrapper .dot {
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    border-radius: 50%;
    border: 1px solid #18ba00;
    transition: all .5s ease;
}

.feedbacks-wrapper .dot:hover,
.feedbacks-wrapper .dot.active {
    background-color: #18ba00;
    transition: all .5s ease;
}


/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 40px 0;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .owner,
.social-networks {
    display: block;
    width: 300px;
    height: 150px;
    background: none;
}

.social-networks a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px 0;
    background-image: url(../assets/images/icons/facebook.svg);
    background-size: cover;
    background-position: center;
}

.social-networks a:hover {
    background-image: url(../assets/images/icons/facebook_white.svg);
}

.owner .name,
.social-networks .name {
    font-size: 26px;
    line-height: 31px;
    color: #17ba00;
    margin: 0;
}

.name small {
    display: block;
    font-size: 15px;
    line-height: 29px;
    font-weight: 300;
    color: #404041;
    margin: 0 0 8px;
}

footer .owner .stripe {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #404041;
}

.contact-info {
    font: normal 300 15px/29px 'Roboto', sans-serif;
    color: #404041;
}