<section class="navigation-wrapper">
    <div class="container" menu>
    </div>
</section>
<section class="title-wrapper">
    <div class="black-overlay">
        <div class="container">
            <h1 class="site-title">
                Biofeedback
            </h1>
            <p class="site-description">
                W potocznym rozumieniu treningi EEG- biofeedbakc można nazwać „siłownią dla mózgu”. Dzięki technice biofeedback mózg szybko uczy się, co należy robić by pojawiły się pożądane częstotliwości, a osłabiły złe.
            </p>
            <div class="links-wrapper">
                <a href="#cennik" du-smooth-scroll du-scrollspy class="pricing">
                    Zobacz cennik
                </a>
                <a href="#readMore" du-smooth-scroll du-scrollspy class="read-more">
                    Czytaj dalej
                </a>
            </div>
        </div>
    </div>
</section>
<section id="#readMore" class="training-biofeedback-wrapper">
    <div class="container">
        <h2 class="section-title">
            Trening biofeedback
        </h2>
        <div class="stripe"></div>
        <p class="section-description">
            Poprawia pamięć i motorykę ciała, zwiększa koncentrację uwagi, polepsza samopoczucie i wiarę we własne możliwości, pozwala kontrolować procesy zachodzące w organizmie, uczy panowania nad własnymi reakcjami, pomaga odpowiednio relaksować się, a tym samym
            radzić sobie nawet w najbardziej ekstremalnych warunkach.
        </p>
        <p class="section-footer">
            Stosuje się go zarówno u dzieci, jak i dorosłych.
        </p>
    </div>
</section>
<section class="who-is-it-wrapper">
    <div class="container">
        <h2 class="section-title">
            Dla kogo EEG - biofeedback?
        </h2>
        <div class="stripe"></div>
        <p class="section-description">
            Treningi EEG biofeedback stosuje się zarówno do poprawy funkcjonowania mózgu u osób zdrowych, jak i chorych. Poleca się je dla uczniów, studentów w okresie wzmożonej nauki, menadżerów, kadry kierowniczej w czasie ważnych negocjacji handlowych, sportowców
            celem umiejętności regulacji stresu i parametrów organizmu istotnych dla osiągnięcia sukcesu.
        </p>
    </div>
</section>
<section class="usa-pediatry-wrapper">
    <p class="section-description">
        Amerykańska Akademia Pediatrii uznała w 2013 r. metodę biofeedback, jako jedną <strong>z najbardziej rekomendowanych form terapii dla pacjentów z ADHD oraz ADD</strong>.
    </p>
</section>
<section class="biofeedback-perks-wrapper">
    <div class="container">
        <h4 class="section-title">
            Treningi EEG-biofeedback przynoszą pozytywne rezultaty:
        </h4>
        <div class="health-status">
            <h5>W stanie zdrowia</h5>
            <p>
                zalecany jest dla tych osób, dla których stres jest codziennością, dla osób, które szybko decydują, potrzebują nadzwyczajnego skupienia czy też podają nadzwyczajny wysiłek.
            </p>
            <p class="people-benefit">Należą do nich osoby</p>
            <div class="stripe"></div>
            <ul>
                <li>na stanowiskach kierowniczych,</li>
                <li>menadżerowie,</li>
                <li>przedsiębiorcy,</li>
                <li>kontrolerzy ruchu,</li>
                <li>piloci,</li>
                <li>policjanci,</li>
                <li>kierowcy,</li>
                <li>sportowcy wszystkich dyscyplin,</li>
                <li>artyści,</li>
                <li>muzycy,</li>
                <li>tancerze,</li>
                <li>piosenkarze, aktorzy i inni.</li>
            </ul>
            <h5>W zaburzeniach psychologicznych i mikrouszkodzeniach OUN</h5>
            <p>
                w naprawie zaburzeń funkcji poznawczych takich jak zaburzenia uwagi, koncentracji, planowania, samooceny jak i zaburzeniach snu, specyficzne zaburzenia uczenia i zaburzenia mowy. EEG Biofeedback jest adresowany szczególnie do osób (dzieci i młodzieży)
                z obniżoną zdolnością do zaprezentowania swoich osiągnięć i umiejętności, tremą, lękami, z agresywnością, z zaburzeniami procesu uczenia (dysleksja rozwojowa) zaburzeniami zachowania, zaburzeniami snu, zaburzeniami uwagi, jej utrzymania
                i planowania swoich poczynań.
            </p>
            <h5>
                W zaburzeniach psychosomatycznych, przebiegu wielu chorób oraz w zaburzeniach i chorobach psychiatrycznych i neurologicznych
            </h5>
            <p>
                EEG Biofeedback stosuje się szczególnie w stanach paniki, tikach, w zaburzeniach przyjmowania pokarmu (bulimia, anoreksja), w terapii uzależnień (alkohol, narkotyki, gry i in.), również w alergiach, w dolegliwościach menopauzy, bólach przewlekłych, a
                także chorobach skórnych itd.
            </p>
        </div>
    </div>
</section>
<section class="quote-wrapper">
    <div class="black-overlay">
        <div class="container">
            <blockquote>
                ”Od naszego mózgu oczekuje się rzeczy niezwykłych, ale tak naprawdę on sam już jest <strong>niezwykły</strong>. Ludzie wykorzystują bardzo <strong>niewielką</strong> cząstkę jego możliwości. Za pomocą <strong>biofeedbacku</strong> właśnie
                uczymy się używać własnego umysłu.”
            </blockquote>
            <p class="author">Dr n.med. Michaela Pakszys, dla Priority Pass</p>
        </div>
    </div>
</section>
<section class="efficiency-wrapper">
    <div class="container">
        <h2 class="section-title">
            Skuteczność
        </h2>
        <div class="stripe"></div>
        <p class="section-description">
            Treningi odbywać powinny się regularnie, najlepiej o tej samej porze dnia. Minimum raz w tygodniu (45 minut); najlepiej 2-3. Średnio potrzeba 20 sesji by można było zauważyć istotne zmiany. Ilość koniecznych treningów jest sprawą indywidualną.
        </p>
    </div>
</section>
<section class="how-does-it-look-wrapper">
    <div class="container">
        <h2 class="section-title">
            Jak wygląda praca EEG-biofeedback?
        </h2>
        <div class="stripe"></div>
        <div class="section-description">
            <figure class="how-icon">
                <img src="/assets/images/icons/wywiad.svg" alt="Pierwsze spotkanie" />
                <figcaption>
                    <h4>Pierwsze spotkanie</h4>
                    <p>wywiad psychologiczny, wstępna diagnoza, opracowanie planu treningów</p>
                </figcaption>
            </figure>
            <figure class="how-icon">
                <img src="/assets/images/icons/cwiczenia.svg" alt="Pierwsze spotkanie" />
                <figcaption>
                    <h4>Kolejne spotkania</h4>
                    <p>treningi zgodne z planem, modyfikowane w miarę potrzeb pacjenta.</p>
                </figcaption>
            </figure>
            <figure class="how-icon">
                <img src="/assets/images/icons/koniec-terapii.svg" alt="Pierwsze spotkanie" />
                <figcaption>
                    <h4>Koniec terapii</h4>
                    <p>opis treningów, efektów i ewentualnie dalszych zaleceń.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>