<section class="navigation-wrapper">
    <div class="container" menu>
    </div>
</section>
<section class="title-wrapper">
    <div class="black-overlay">
        <div class="container">
            <h1 class="site-title">
                Technika Bowena
            </h1>
            <p class="site-description">
                Technika Bowena jest delikatną, głęboko relaksującą, nieinwazyjną i bardzo bezpieczną terapią, która wspomaga organizm w osiągnięciu naturalnej równowagi i uzdrowieniu.
            </p>
            <div class="links-wrapper">
                <a href="#/bowen#cennik" du-smooth-scroll du-scrollspy class="pricing">
                    Zobacz cennik
                </a>
                <a href="#/bowen#readMore" du-smooth-scroll du-scrollspy class="read-more">
                    Czytaj dalej
                </a>
            </div>
        </div>
    </div>
</section>
<section id="readMore" class="bowen-wrapper">
    <div class="container">
        <h2 class="section-title">
            Zabieg techniką Bowena
        </h2>
        <div class="stripe"></div>
        <p class="section-description">
            Zabieg techniką Bowena trwa od 40-60 min. Polega ona na delikatnych ruchach wykonywanych palcami na mięśniach i tkance łącznej, bezpośrednio na nagiej skórze, ewentualnie przez cienką odzież. Pomiędzy seriami ruchów stosuje się kilkuminutowe przerwy.
            Są one niezmiernie ważne, aby organizm otrzymał niezbędny czas na reakcję i rozpoczęcie procesu samoleczenia.
        </p>
        <p class="section-description">
            Rezultaty można zwykle zaobserwować już po pierwszym zabiegu. Zazwyczaj kilka zabiegów wystarczy, aby organizm poradził sobie z wieloma dolegliwościami. Zabiegi wykonuje się, co 5 -10 dni, ale optymalny czas to 7 dni.
        </p>
        <p class="section-footer">
            Techniki Bowena nie powinno łączyć się z innymi terapiami.
        </p>
    </div>
</section>
<section class="about-bowen-wrapper">
    <p class="section-description">
        W przeciwieństwie do innych terapii bezpośrednich, w Technice Bowena zabieg nie polega na zastosowaniu siły fizycznej. <strong>Jest on bezbolesny i nieinwazyjny.</strong> W czasie jego trwania Terapeuta wykonuje niewiele ruchów..
    </p>
</section>
<section class="bowen-cures-wrapper">
    <div class="container">
        <h2 class="section-title">Przykładowe dolegliwości, w których Technika Bowena daje bardzo dobre rezultaty to:</h2>
        <div class="stripe"></div>
        <ul class="diseases">
            <li>Bóle pleców, rwa kulszowa</li>
            <li>Problemy oddechowe,</li>
            <li>Problemy z układem pokarmowym i wydalniczym,</li>
            <li>Problemy z barkiem, kolanem, biodrem, łokciem, nadgarstkiem, stawem skokowym,</li>
            <li>Bóle głowy, migreny, zaburzenia snu,</li>
            <li>Bezpłodność,</li>
            <li>Zaburzenia trawienia, wzdęcia,</li>
            <li>Biegunki, zaparcia,</li>
            <li>Stres, depresje, niepokój, napięcie,</li>
            <li>Alergie, słaba odporność organizmu,</li>
            <li>Problemy ze stawem skroniowo-żuchwowym,</li>
            <li>Problemy z nerkami, moczenie nocne,</li>
            <li>Chroniczne zmęczenie,</li>
            <li>Kolki u niemowląt,</li>
            <li>Bezsenność,</li>
            <li>Zaburzenia hormonalne,</li>
            <li>Dolegliwości ciążowe i okołoporodowe</li>
        </ul>
    </div>
</section>
<section class="preparation-wrapper">
    <div class="container">
        <h2 class="section-title">
            Jak przygotować się do zabiegu?
        </h2>
        <div class="stripe"></div>
        <p class="section-description">
            Zabiegi Bowena robimy na bezpośrednio na ciele ale można też wykonać przez cienką odzież, najlepiej bawełnianą (miękka, luźna i nie śliska). Dobrze jest więc wziąć ze sobą T-shirt i leginsy (spodenki) na przebranie.
        </p>
    </div>
</section>