<section id="naviWrapper" class="navigation-wrapper feedback-menu">
    <div menu class="container" toggle-mobile-menu="toggleMobileMenu()" hideMobileMenu="hodeMobileMenu()"></div>
</section>
<section class="title-wrapper">
    <div class="black-overlay">
        <div class="container">
            <h1 class="site-title">
                {{feedback.author}}
            </h1>
            <p class="site-description">
                {{feedback.excerpt}}
            </p>
        </div>
    </div>
</section>
<section id="readMore" class="feedback-wrapper">
    <div class="container">
        <p class="section-description">
            {{feedback.feedback}}
        </p>
    </div>
</section>