<section id="naviWrapper" class="navigation-wrapper">
    <div class="container">
        <img src="assets/images/logo.svg" class="brand" />
        <ul class="menu-list">
            <li class="menu-item">
                <a href="#naviWrapper">
                        Start
                    </a>
            </li>
            <li class="menu-item">
                <a href="#oNas">
                        O NAS
                    </a>
            </li>
            <li class="menu-item">
                <a href="#oferta">
                        OFERTA
                    </a>
            </li>
            <li class="menu-item">
                <a href="#cennik">
                        CENNIK
                    </a>
            </li>
            <li class="menu-item">
                <a href="#kontakt">
                        KONTAKT
                    </a>
            </li>
        </ul>
    </div>
    <div class="container title-wrapper">
        <h1 class="site-title">
            Profesjonalna fizjoterapia
        </h1>
        <p class="site-owners">
            Monika Świerczek-Fic i Tomasz Fic
        </p>
        <div class="links-wrapper">
            <a href="#oferta" class="oferta-link">
                Nasza oferta
            </a>
            <a href="#oNas" class="onas-link">
                Kim jesteśmy?
            </a>
        </div>
    </div>
</section>
<section id="oNas" class="onas-wrapper">
    <div class="container">
        <h3 class="section-title">
            Kim jesteśmy?
            <div class="stripe"></div>
        </h3>
        <div class="owners-container">
            <figure class="owner">
                <img src="assets/images/human-placeholder.png" class="owner-image" />
                <figcaption class="about-owner">
                    <h4>Monika Świerczek-Fic</h4>
                    <small>Psycholog</small>
                    <p>Tytuł mgr psychologii uzyskany w 2002 roku. Absolwentka Wydziału Pedagogiki i Psychologii UŚ w Katowicach. Od początku swej pracy zawodowej związaną z oświatą pracą społeczną oraz pracą szkoleniową. Ściśle współpracująca z Komisjami
                        Rozwiązywania Problemów Alkoholowych Profilaktyk, szkoleniowiec, trener EEG-biofeedback. W obszarze zainteresowań zagadnienie wsparcia społecznego w rodzinie i środowisku.</p>
                </figcaption>
            </figure>
            <figure class="owner">
                <img src="assets/images/human-placeholder.png" class="owner-image" />
                <figcaption class="about-owner">
                    <h4>Tomasz Fic</h4>
                    <small>Terapeuta</small>
                    <p>Dyplomowany terapeuta Australijskiej Akademii Terapi Bowena od 2017 roku. Efekty mojej pracy są pod stałą kontrolą superwizorów.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<section class="offer-wrapper">
    <div class="container">
        <figure class="offer-icon">
            <img src="assets/images/icons/person.svg" class="icon-image" />
            <figcaption>Psycholog</figcaption>
        </figure>
        <figure class="offer-icon">
            <img src="assets/images/icons/brain.svg" class="icon-image" />
            <figcaption>Biefeedback</figcaption>
        </figure>
        <figure class="offer-icon">
            <img src="assets/images/icons/palm.svg" class="icon-image" />
            <figcaption>Technika Bowena</figcap>
        </figure>
        <figure class="offer-icon">
            <img src="assets/images/icons/pencil.svg" class="icon-image" />
            <figcaption>Szkolenia i prelekcje</figcaption>
        </figure>
    </div>
</section>
<section class="offer-items-wrapper">
    <div id="psycholog" class="container">
        <div class="offer-item-description">
            <h3 class="offer-item-name">Psycholog</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">
                <ul class="psycholog">
                    <li>konsultacje, wsparcie w sytuacjach trudnych życiowo,</li>
                    <li>pomoc w radzeniu sobie z problemami wychowawczymi,</li>
                    <li>pomoc psychologiczna dla osób uzależnionych i współuzależnionych,</li>
                    <li>praca nad redukcją stresu (treningi relaksacyjne),</li>
                    <li>szkolenia dla firm i instytucji,</li>
                    <li>wstępne diagnozy stanu emocjonalnego,</li>
                    <li>treningi pamięci</li>
                </ul>
            </div>
            <button class="offer-item-button">Zobacz cennik</button>
        </div>
        <div class="offer-item-image"></div>
    </div>
    <div id="biofeedback" class="container">
        <div class="offer-item-image"></div>
        <div class="offer-item-description">
            <h3 class="offer-item-name">Biofeedback</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">EEG Biofeedback to stosunkowo nowa, skuteczna metoda terapeutyczna zwiększająca możliwości funckjonowania mózgu. Metoda EEG Biofeedback jest metodą klasyczną, używaną szeroko, jako metoda nieinwazyjna, bez skutków ubocznych. Polega na nauczeniu
                mózgu samokontroli pracy za pomocą modyfikacji fal mózgowych.</div>
            <button class="offer-item-button">Zobacz cennik</button>
            <button class="offer-item-button-o">Dowiedz się więcej</button>
        </div>
    </div>
    <div id="bowen" class="container">
        <div class="offer-item-description">
            <h3 class="offer-item-name">Technika Bowena</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">Technika Bowena jest delikatną, głęboko relaksującą, nieinwazyjną i bardzo bezpieczną terapią, kóra wspomaga organizm w osiągnięciu naturalnej równowagi i uzdrowieniu. Skuteczna w przypadku konkretnego bólu, jednocześnie oddziałuje na cały
                organizm. Jej efekty wykraczają często poza widoczne objawy prowadząc do uzdrowienia ukrytych fizycznych, emocjonalnych i mentalnych przyczyn chorób przewlekłych.</div>
            <button class="offer-item-button">Zobacz cennik</button>
            <button class="offer-item-button-o">Dowiedz się więcej</button>
        </div>
        <div class="offer-item-image"></div>
    </div>
</section>
<section class="trainings-wrapper">
    <div class="white-overlay">
        <div class="container">
            <h3 class="trainings-title">Szkolenia i prelekcje</h3>
            <div class="stripe"></div>
            <div class="about-trainings">
                <ul>
                    <li>jak współpracować z rodzicami</li>
                    <li>skuteczna ewaluacja wewnętrzna placówki</li>
                    <li>uczeń z zespołem Aspergera</li>
                    <li>dostosowanie wymagań edukacyjnych</li>
                    <li>ocenienie kształtujące</li>
                    <li>profilaktyka uzależnień</li>
                </ul>
                <ul>
                    <li>rozwój emocjonalny dziecka</li>
                    <li>zjawisko cyberprzemocy</li>
                    <li>praca z uczniem "trudnym", praca z uczniem zdolnym</li>
                    <li>co dają zajęcia pozalekcyjne dzieciom</li>
                    <li>style rodzicielskie</li>
                </ul>
                <ul>
                    <li>skuteczna komunikacja interpersonalna</li>
                    <li>zaburzenia odżywiania</li>
                    <li>jak radzić sobie ze stresem</li>
                    <li>cyberdziecko</li>
                    <li>zjawisko przemocy</li>
                </ul>
            </div>
            <p class="trainings-description">
                Tematy szkoleń również zgodnie z zapotrzebowaniami indywidualnymi klienta.
            </p>
        </div>
    </div>
</section>
<section class="pricing-wrapper">
    <div class="container">
        <h1 class="section-title">
            Cennik usług
        </h1>
        <div class="stripe"></div>
        <h4 class="section-description">
            Wizyty prosimy umawiać telefonicznie
        </h4>
        <div class="offers-pricing">
            <div class="offer-pricing">
                <h5>Pomoc psychologiczna</h5>
                <table>
                    <tr>
                        <td>konsultacje, wsparcie psychologiczne (1h)</td>
                        <td>80zł</td>
                    </tr>
                    <tr>
                        <td>wydanie opinii na prośbę klienta</td>
                        <td>50zł</td>
                    </tr>
                    <tr>
                        <td>treningi pamięci - cykl 10 spotkań po 1h</td>
                        <td>650zł</td>
                    </tr>
                </table>
            </div>
            <div class="offer-pricing">
                <h5>Sesja Biofeedback</h5>
                <table>
                    <tr>
                        <td>Diagnoza</td>
                        <td>70zł</td>
                    </tr>
                    <tr>
                        <td>Terapia - 1 sesja</td>
                        <td>60zł</td>
                    </tr>
                    <tr>
                        <td>Terapia - 10 sesji</td>
                        <td>500zł</td>
                    </tr>
                </table>
            </div>
            <div class="offer-pricing">
                <h5>Sesja Techniki Bowena</h5>
                <table>
                    <tr>
                        <td>Diagnoza</td>
                        <td>70zł</td>
                    </tr>
                    <tr>
                        <td>Terapia - 1 sesja</td>
                        <td>60zł</td>
                    </tr>
                    <tr>
                        <td>Terapia - 10 sesji</td>
                        <td>500zł</td>
                    </tr>
                </table>
            </div>
        </div>
        <p class="trainings-pricing">
            W przypadku szkoleń i prelekcji ceny uzgadniamy indywidualnie.
        </p>
    </div>
</section>
<section class="feedbacks-wrapper">
    <div class="white-overlay">
        <div class="container">
            <div class="feedbacks">
                <div ng-repeat="feedback in feedbacks" class="feedback">
                    <p class="author">{{feedback.author}}</p>
                    <p class="excerpt">{{feedback.excerpt}}</p>
                    <a ng-href="#/feedback?id={{feedback.id}}" class="read-more">
                        Czytaj całość
                    </a>
                </div>
            </div>
            <div class="controls">
                <div ng-repeat="feedback in feedbacks" class="dot"></div>
            </div>
        </div>
    </div>
</section>