<section id="naviWrapper" class="navigation-wrapper">
    <div menu class="container" icon="icon" toggle-mobile-menu="toggleMobileMenu()" hideMobileMenu="hodeMobileMenu()"></div>
    <div class="container title-wrapper">
        <h1 class="site-title">
            Harmonia umysłu i ciała
        </h1>
        <p class="site-owners">
            Monika Świerczek-Fic i Tomasz Fic
        </p>
        <div class="links-wrapper">
            <a href="#oferta" du-smooth-scroll du-scrollspy class="oferta-link">
                Nasza oferta
            </a>
            <a href="#oNas" du-smooth-scroll du-scrollspy class="onas-link">
                Kim jesteśmy?
            </a>
        </div>
    </div>
</section>
<section id="oNas" class="onas-wrapper">
    <div class="container">
        <h3 class="section-title">
            Kim jesteśmy?
            <div class="stripe"></div>
        </h3>
        <div class="owners-container">
            <figure class="owner">
                <img src="assets/images/human-placeholder.png" class="owner-image" />
                <figcaption class="about-owner">
                    <h4>Monika Świerczek-Fic</h4>
                    <small>Psycholog</small>
                    <p>Tytuł mgr psychologii uzyskany w 2002 roku. Absolwentka Wydziału Pedagogiki i Psychologii UŚ w Katowicach. Od początku swej pracy zawodowej związaną z oświatą pracą społeczną oraz pracą szkoleniową. Ściśle współpracująca z Komisjami
                        Rozwiązywania Problemów Alkoholowych Profilaktyk, szkoleniowiec, trener EEG-biofeedback. W obszarze zainteresowań zagadnienie wsparcia społecznego w rodzinie i środowisku.</p>
                </figcaption>
            </figure>
            <figure class="owner">
                <img src="assets/images/human-placeholder.png" class="owner-image" />
                <figcaption class="about-owner">
                    <h4>Tomasz Fic</h4>
                    <small>Terapeuta</small>
                    <p>Dyplomowany terapeuta Australijskiej Akademii Terapi Bowena od 2017 roku. Efekty mojej pracy są pod stałą kontrolą superwizorów.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<section id="oferta" class="offer-wrapper">
    <div class="container">
        <a href="#psychologWrapper" du-smooth-scroll du-scrollspy>
            <figure class="offer-icon">
                <img src="assets/images/icons/person.svg" class="icon-image" />
                <figcaption>Psycholog</figcaption>
            </figure>
        </a>
        <a href="#biofeedbackWrapper" du-smooth-scroll du-scrollspy>
            <figure class="offer-icon">
                <img src="assets/images/icons/brain.svg" class="icon-image" />
                <figcaption>Biefeedback</figcaption>
            </figure>
        </a>
        <a href="#bowenWrapper" du-smooth-scroll du-scrollspy>
            <figure class="offer-icon">
                <img src="assets/images/icons/palm.svg" class="icon-image" />
                <figcaption>Technika Bowena</figcap>
            </figure>
        </a>
        <a href="#trainingsWrapper" du-smooth-scroll du-scrollspy>
            <figure class="offer-icon">
                <img src="assets/images/icons/pencil.svg" class="icon-image" />
                <figcaption>Szkolenia i prelekcje</figcaption>
            </figure>
        </a>
    </div>
</section>
<section id="psychologWrapper" class="psycholog-wrapper">
    <div class="description-container">
        <div class="psycholog-description">
            <h3 class="offer-item-name">Psycholog</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">
                <ul class="psycholog">
                    <li>konsultacje, wsparcie w sytuacjach trudnych życiowo,</li>
                    <li>pomoc w radzeniu sobie z problemami wychowawczymi,</li>
                    <li>pomoc psychologiczna dla osób uzależnionych i współuzależnionych,</li>
                    <li>praca nad redukcją stresu (treningi relaksacyjne),</li>
                    <li>szkolenia dla firm i instytucji,</li>
                    <li>wstępne diagnozy stanu emocjonalnego,</li>
                    <li>treningi pamięci</li>
                </ul>
            </div>
            <a href="#cennik" du-smooth-scroll du-scrollspy class="offer-item-link">Zobacz cennik</a>
        </div>
    </div>
    <div id="psycholog" class="psycholog-image"></div>
</section>
<section id="biofeedbackWrapper" class="biofeedback-wrapper">
    <div class="biofeedback-image"></div>
    <div id="biofeedback" class="biofeedback-container">
        <div class="biofeedback-description">
            <h3 class="offer-item-name">Biofeedback</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">EEG Biofeedback to stosunkowo nowa, skuteczna metoda terapeutyczna zwiększająca możliwości funckjonowania mózgu. Metoda EEG Biofeedback jest metodą klasyczną, używaną szeroko, jako metoda nieinwazyjna, bez skutków ubocznych. Polega na nauczeniu
                mózgu samokontroli pracy za pomocą modyfikacji fal mózgowych.</div>
            <a href="#cennik" du-smooth-scroll du-scrollspy class="offer-item-link">Zobacz cennik</a>
            <a href="#/biofeedback" class="offer-item-link-o">Dowiedz się więcej</a>
        </div>
    </div>
</section>
<section id="bowenWrapper" class="bowen-wrapper">
    <div id="bowen" class="bowen-container">
        <div class="bowen-description">
            <h3 class="offer-item-name">Technika Bowena</h3>
            <div class="stripe"></div>
            <div class="offer-item-about">Technika Bowena jest delikatną, głęboko relaksującą, nieinwazyjną i bardzo bezpieczną terapią, kóra wspomaga organizm w osiągnięciu naturalnej równowagi i uzdrowieniu. Skuteczna w przypadku konkretnego bólu, jednocześnie oddziałuje na cały
                organizm. Jej efekty wykraczają często poza widoczne objawy prowadząc do uzdrowienia ukrytych fizycznych, emocjonalnych i mentalnych przyczyn chorób przewlekłych.</div>
            <a href="#cennik" du-smooth-scroll du-scrollspy class="offer-item-link">Zobacz cennik</a>
            <a href="#/bowen" class="offer-item-link-o">Dowiedz się więcej</a>
        </div>
    </div>
    <div class="bowen-image"></div>
</section>
<section id="trainingsWrapper" class="trainings-wrapper">
    <div class="white-overlay">
        <div class="container">
            <h3 class="trainings-title">Szkolenia i prelekcje</h3>
            <div class="stripe"></div>
            <div class="about-trainings">
                <ul>
                    <li>jak współpracować z rodzicami</li>
                    <li>skuteczna ewaluacja wewnętrzna placówki</li>
                    <li>uczeń z zespołem Aspergera</li>
                    <li>dostosowanie wymagań edukacyjnych</li>
                    <li>ocenienie kształtujące</li>
                    <li>profilaktyka uzależnień</li>
                </ul>
                <ul>
                    <li>rozwój emocjonalny dziecka</li>
                    <li>zjawisko cyberprzemocy</li>
                    <li>praca z uczniem "trudnym", praca z uczniem zdolnym</li>
                    <li>co dają zajęcia pozalekcyjne dzieciom</li>
                    <li>style rodzicielskie</li>
                    <li>integracja zespołu pracowników</li>
                </ul>
                <ul>
                    <li>skuteczna komunikacja interpersonalna</li>
                    <li>zaburzenia odżywiania</li>
                    <li>jak radzić sobie ze stresem</li>
                    <li>cyberdziecko</li>
                    <li>zjawisko przemocy</li>
                    <li>i inne</li>
                </ul>
            </div>
            <p class="trainings-description">
                Tematyka szkoleń dostosowana do zapotrzebowań klienta.
            </p>
        </div>
    </div>
</section>