<img src="assets/images/logo.svg" class="brand" />
<button ng-click="toggleMobileMenu()" class="toggle-mobile"><img src="assets/images/icons/menu.png" alt="Menu icon"/></button>
<ul class="menu-list" ng-click="hideMenu()">
    <li class="menu-item">
        <a href="#naviWrapper" du-smooth-scroll du-scrollspy> 
            Start
        </a>
    </li>
    <li class="menu-item">
        <a href="#/#oNas" du-smooth-scroll du-scrollspy>
            O NAS
        </a>
    </li>
    <li class="menu-item">
        <a href="#/#oferta" du-smooth-scroll du-scrollspy>
            OFERTA
        </a>
    </li>
    <li class="menu-item">
        <a href="#cennik" du-smooth-scroll du-scrollspy>
            CENNIK
        </a>
    </li>
    <li class="menu-item">
        <a href="#kontakt" du-smooth-scroll du-scrollspy>
            KONTAKT
        </a>
    </li>
</ul>